@charset "UTF-8";
/* global */
html, body {
  background-color: #666666;
  color: #ffffff;
  font-family: "メイリオ", sans-serif;
  font-size: 2.5vmin;
  height: 100%;
  overflow: hidden;
}

/* footer: bottom center */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  width: 85vmin;
  height: 10vmin;
  font-size: 2vmin;
}

@media screen and (orientation: landscape) {
  /* footer: bottom right */
  footer {
    bottom: 0;
    left: auto;
    right: 0;
    width: 40vmin;
    height: 20vmin;
  }
}

/* icon*/
.icon-wrapper {
  overflow: hidden;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 85vmin;
  height: 85vmin;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

li {
  display: block;
  width: 33.33333%;
  height: 33.33333%;
}

.icon {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  cursor: pointer;
}

.overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/* content */
.content {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #303030;
  background-color: rgba(32, 32, 32, 0.8);
  opacity: 0;
  z-index: 100;
  color: #ffffff;
}

.content dl {
  margin: 2vmin 0 2vmin 33.333%;
  width: 66.66667%;
  height: 26vmin;
  line-height: 4vmin;
}

.content dt,
.content dd {
  overflow: hidden;
  height: 3.5vmin;
}

.content dt {
  width: 20vmin;
  padding: 0 1vmin;
}

.content dd {
  margin-bottom: 1vmin;
}

.content dd div {
  padding-left: 11vmin;
}

.content dt + dd {
  margin-top: -3.5vmin;
}

/* lamguage */
.lang {
  position: relative;
}

.lang .ja,
.lang .en {
  position: relative;
}

/* content */
.content p {
  margin: 3vmin 2vmin;
  font-size: 3.5vmin;
}

/* popup background */
.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
