@charset "utf-8";

$background-color: #666666;
$text-color: #ffffff;
$icon-size: 100% / 3;
$default-text-size: 2.5vmin;
$content-text-size: 3.5vmin;
$footer-text-size: 2vmin;
$popup-background-color: rgba(32, 32, 32, 0.8);
$popup-background-color-fallback: rgb(48, 48, 48);
$icon-initial-transparent: 0.5;

/* global */
html, body {
	background-color: $background-color;
	color: $text-color;
	font-family: "メイリオ", sans-serif;
	font-size: $default-text-size;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

/* footer: bottom center */
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 0;
	width: 85vmin;
	height: 10vmin;
	font-size: $footer-text-size;
}

@media screen and (orientation: landscape) {
	/* footer: bottom right */
	footer {
		bottom: 0;
		left: auto;
		right: 0;
		width: 40vmin;
		height: 20vmin;
	}
}

/* icon*/
.icon-wrapper {
	overflow: hidden;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 85vmin;
	height: 85vmin;
}

ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: $icon-size * 3;
	height: $icon-size * 3;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

li {
	display: block;
	width: $icon-size;
	height: $icon-size;
}

.icon {
	width: 100%;
	height: 100%;
	opacity: $icon-initial-transparent;
	cursor: pointer;
}

.overlay {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: $icon-size * 3;
	height: $icon-size * 3;
	z-index: 1000;
}

/* content */
.content {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: $icon-size * 3;
	height: $icon-size * 3;
	background-color: $popup-background-color-fallback;
	background-color: $popup-background-color;
	opacity: 0;
	z-index: 100;
	color: $text-color;

	dl {
		margin: 2vmin 0 2vmin 33.333%;
		width: $icon-size * 2;
		height: 26vmin;
		line-height: 4vmin;
	}

	dt,
	dd {
		overflow: hidden;
		height: 3.5vmin;
	}

	dt {
		width: 20vmin;
		padding: 0 1vmin;
	}

	dd {
		margin-bottom: 1vmin;
	}
	dd div {
		padding-left: 11vmin;
	}

	dt + dd {
		margin-top: -3.5vmin;
	}
}

/* lamguage */
.lang {
	position: relative;

	.ja,
	.en {
		position: relative;
	}
}

/* content */
.content p {
	margin: 3vmin 2vmin;
	font-size: $content-text-size;
}

/* popup background */
.background {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
